<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
    <test name="MainExecutionTest">
        <classes>
            <class name="pages.MainExecution" />
        </classes>
    </test>
   
    <!-- Add more <test> elements as needed for other test classes -->
</suite>
